    
 
    /* Estilos aplicados al navbar de la pagina principal del proyecto */
    /* Estilos para dispositivos móviles */
    @media only screen and (max-width: 600px) {
   header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #eca023;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
  }
 
    /* Estilos aplicados a los elementos cliqueables de tipo boton */
   .button {
    background-color: grey;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
   }
   .button {
    background-color: grey;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    } 
    .button {
    background-color: grey;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    }
      
    /**estilos aplicados para el archivo de nuestros servicios html**/
    h1 {
      color:black ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
    }
    h2 {
      color:black ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
    }
    h3 {
      color:black ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
    }
    h4 {
      color:black ;
      font-family: Arial, Helvetica, sans-serif;
      font-size: medium;
    }
   
    p {
      color: gray;
      font-size: 16px;
    }
    
    /** estilos en flexbox para el archivo de nuestros servicios html**/
    
.container 3 pasos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
}

 .item {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
}

 .item {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  }
}  

/* Estilos aplicados al navbar de la pagina principal del proyecto */
    /* Estilos para  dispositivos de escritorio */
    @media only screen and (min-width: 601px) { 
      header {
        background: rgba(0,0,0,0.7);
        width: 100%;
        position: fixed;
        z-index: 100;
      }
      
      nav {
        float: left;
      }
      
      nav ul {
        list-style: none;
        overflow: hidden; 
      }
      
      nav ul li {
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
      nav ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
      }
      nav ul li:hover {
        background: #eca023;
      }
    
      p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-align: justify;
      }
     
        /* Estilos aplicados a los elementos cliqueables de tipo boton */
       .button {
        background-color: grey;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        border: none;
       }
       .button {
        background-color: grey;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        } 
        .button {
        background-color: grey;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        }
          
        /**estilos aplicados para el archivo de nuestros servicios html**/
        h1 {
          color:black ;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
        }
        h2 {
          color:black ;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
        }
        h3 {
          color:black ;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
        }
        h4 {
          color:black ;
          font-family: Arial, Helvetica, sans-serif;
          font-size: medium;
        }
       
        p {
          color: gray;
          font-size: 16px;
        }
        
        /** estilos en flexbox para el archivo de nuestros servicios html**/
        
    .container 3 pasos{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    align-items: center;
    }
    
     .item {
      padding: 10px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
    }
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    align-items: center;
    }
    
     .item {
      padding: 10px;
      background-color: #f1f1f1;
      border: 1px solid #ccc;
      }
    }  